<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">

		</head>
		<body>
			<nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="https://github.com/bernardkung/">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/bkung/">LinkedIn</a></li>
              <li><a href="mailto: bpkung+github.redirect@gmail.com">Email</a></li>
          </ul>
			</nav>
			<div class="container">
			
			<h2>Project List</h2>
			<ul>
				<li><a href="https://bernardkung.github.io/popmap/">US Population Comparison Map</a></li>
				<li><a href="https://bernardkung.github.io/movies-list/">AFI Top 100 Movies List</a></li>
				<li><a href="https://bernardkung.github.io/whatshouldirun/">What Dungeon Should I Run?</a></li>
				
			</ul>

			
			</div><!-- /.container -->
			<footer>

			</footer>
		</body>
	</html>